.my-cart {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1512px;
    height: 100px;
}
.my-cart-wrapper {
    position: absolute;
    top: 131px;
    left: 0px;
    border: 2px solid #364f2a;
    box-sizing: border-box;
    width: 1512px;
    height: 100px;
    text-align: center;
    font-size: 64px;
    color: #364f2a;
    font-family: 'Caveat Brush';
}
.cart-child {
    position: absolute;
    top: 231px;
    left: 0px;
    background-color: #f3ffff;
    width: 1512px;
    height: 1293px;
    opacity: 0.54;
}
.product {
    width: 380px;
    position: relative;
    text-align: left;
    display: flex;
    align-items: center;
    height: 45px;
    flex-shrink: 0;
}
.price {
    width: 140px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    flex-shrink: 0;
}
.product-parent {
    align-self: stretch;
    border-radius: 12px;
    background-color: #c7d1ac;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.frame-wrapper {
    align-self: stretch;
    border-radius: 12px;
    background-color: #c7d1ac;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 0px 90px;
}
.honey-1-icon {
    width: 140px;
    position: relative;
    max-height: 100%;
    object-fit: cover;
    cursor: pointer;
}
.cold-presses-forest {
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: 500;
}
.gm {
    position: absolute;
    top: 36px;
    left: 0px;
    font-size: 16px;
}
.cold-presses-forest-honey-parent {
    position: absolute;
    top: 3px;
    left: 0px;
    width: 276px;
    height: 60px;
    text-align: left;
    font-size: 20px;
}
.div {
    position: relative;
    font-weight: 600;
}
.wrapper {
    width: 23.5px;
    height: 17.5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.frame-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 17px;
}
.quantity-btn-pp-inner {
    width: 134.5px;
    border-radius: 6px;
    background-color: #fff;
    border: 0.8px solid #364f2a;
    box-sizing: border-box;
    height: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4px 15px;
}
.quantity-btn-pp {
    position: absolute;
    top: 2px;
    left: 480px;
    width: 140px;
    height: 31px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    color: #364f2a;
}
.span {
    font-weight: 600;
}
.span1 {
    font-weight: 600;
    font-family: Poppins;
}
.txt {
    line-break: anywhere;
    width: 100%;
}
.div3 {
    position: absolute;
    top: 0px;
    left: 320px;
    display: flex;
    align-items: center;
    width: 140px;
    font-family: 'Pontano Sans';
}
.div4 {
    position: absolute;
    top: 0px;
    left: 640px;
    display: flex;
    align-items: center;
    width: 140px;
    font-family: 'Pontano Sans';
}
.group-parent {
    width: 780px;
    position: relative;
    height: 63px;
}
.honey-1-parent {
    align-self: stretch;
    border-radius: 12px;
    background-color: #fffaef;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 24px;
    gap: 20px;
}
.mangoes-1-icon {
    width: 140px;
    position: relative;
    height: 129px;
    object-fit: cover;
}
.king-alphonso-mangoes-parent {
    position: absolute;
    top: 3px;
    left: 0px;
    width: 244px;
    height: 60px;
    text-align: left;
    font-size: 20px;
}
.potato-1-icon {
    width: 140px;
    position: relative;
    max-height: 100%;
    object-fit: cover;
}
.farm-potatoes-parent {
    position: absolute;
    top: 3px;
    left: 0px;
    width: 147px;
    height: 60px;
    text-align: left;
    font-size: 20px;
}
.frame-group {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    font-size: 24px;
    color: #000;
}
.frame-parent {
    position: absolute;
    top: 260px;
    left: 262px;
    width: 988px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    text-align: center;
    font-size: 20px;
    color: #603913;
}
.total {
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: 600;
    display: flex;
    align-items: center;
    width: 209.8px;
}
.div15 {
    position: absolute;
    top: 0px;
    left: 717.29px;
    text-align: right;
    display: flex;
    align-items: center;
    width: 182.7px;
    font-family: 'Pontano Sans';
}
.total-parent {
    width: 900px;
    position: relative;
    height: 36px;
}
.cart-inner {
    position: absolute;
    top: 1436px;
    left: 286px;
    background-color: #c7d1ac;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 20px;
}
.items {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    width: 223.3px;
}
.div16 {
    position: absolute;
    top: 0px;
    left: 856.02px;
    text-align: right;
    display: flex;
    align-items: center;
    width: 44px;
}
.span14 {
    font-family: Poppins;
}
.div17 {
    position: absolute;
    top: 0px;
    left: 707.14px;
    text-align: right;
    display: flex;
    align-items: center;
    width: 192.9px;
    font-family: 'Pontano Sans';
}
.delivery-charges {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    width: 416.2px;
}
.handling {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    width: 362px;
}
.div19 {
    position: absolute;
    top: 0px;
    left: 771.43px;
    text-align: right;
    display: flex;
    align-items: center;
    width: 128.6px;
    font-family: 'Pontano Sans';
}
.gst {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    width: 152.3px;
}
.div20 {
    position: absolute;
    top: 0px;
    left: 751.13px;
    text-align: right;
    display: flex;
    align-items: center;
    width: 148.9px;
    font-family: 'Pontano Sans';
}
.discount {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    width: 351.9px;
}
.txt11 {
    width: 100%;
}
.div21 {
    position: absolute;
    top: 0px;
    left: 676.69px;
    text-align: right;
    display: flex;
    align-items: center;
    width: 223.3px;
    font-family: 'Pontano Sans';
}
.group-parent1 {
    position: absolute;
    top: 1140px;
    left: 286px;
    background-color: #fdf5e2;
    width: 940px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px;
    box-sizing: border-box;
    gap: 12px;
}
.delivery-type {
    width: 393px;
    position: relative;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    align-items: center;
    height: 45px;
    flex-shrink: 0;
}
.radio-button-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 30px;
    height: 30px;
    overflow: hidden;
}
.home-delivery {
    position: absolute;
    top: 0px;
    left: 47.57px;
    display: flex;
    align-items: center;
    width: 148.9px;
}
.radio-button-parent {
    width: 196.5px;
    position: relative;
    height: 30px;
}
.self-pick-up {
    position: absolute;
    top: 0px;
    left: 47.57px;
    display: flex;
    align-items: center;
    width: 128.2px;
}
.radio-button-group {
    width: 175.8px;
    position: relative;
    height: 30px;
}
.delivery-type-parent {
    position: absolute;
    top: 933px;
    left: 286px;
    width: 940px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 87px;
    font-size: 20px;
}
.apply-coupon {
    width: 393px;
    position: relative;
    font-weight: 600;
    display: flex;
    align-items: center;
    height: 45px;
    flex-shrink: 0;
}
.group-child {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #fff;
    border: 0.5px solid #000;
    box-sizing: border-box;
    width: 460px;
    height: 60px;
}
.first15 {
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 460px;
    height: 60px;
}
.edit-icon {
    position: absolute;
    top: 15px;
    left: 418px;
    width: 30px;
    height: 30px;
    overflow: hidden;
}
.rectangle-parent {
    width: 460px;
    position: relative;
    height: 60px;
    text-align: center;
}
.apply-coupon-parent {
    position: absolute;
    top: 1029px;
    left: 286px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 87px;
}
.proceed-to-checkout {
    width: 346px;
    position: relative;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}
.proceed-to-checkout-wrapper {
    position: absolute;
    top: 1498px;
    left: 832px;
    border-radius: 12px;
    background-color: #364f2a;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    cursor: pointer;
    text-align: center;
    font-size: 32px;
    color: #fff;
}
.frame-child {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #a8d080;
    width: 1512px;
    height: 42px;
}
.rectangle-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1512px;
    height: 42px;
}
.orgmart {
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: 600;
    display: inline-block;
    width: 136px;
    height: 44px;
}
.orgmart-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 136px;
    height: 44px;
}
.logo-child {
    position: absolute;
    top: 12.5px;
    left: 136px;
    width: 25px;
    height: 25px;
    object-fit: cover;
}
.logo {
    width: 161px;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0);
    box-sizing: border-box;
    height: 44px;
}
.home {
    position: relative;
    font-weight: 500;
    cursor: pointer;
}
.sustainability {
    position: relative;
    font-weight: 500;
}
.home-parent {
    width: 620px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 4px;
    box-sizing: border-box;
    gap: 40px;
    font-size: 20px;
}
.search-icon {
    width: 18px;
    position: relative;
    height: 18px;
}
.try-searching-for {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    display: inline-block;
    font-weight: 500;
}
.component-3 {
    width: 237px;
    position: relative;
    height: 16px;
}
.search-bar {
    width: 348px;
    border-radius: 9px;
    background-color: #fff;
    border: 2px solid #364f2a;
    box-sizing: border-box;
    height: 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 14px 16px;
    gap: 12px;
    text-align: left;
    font-size: 12px;
    font-family: Inter;
}
.profile-icon {
    width: 29px;
    position: relative;
    height: 27px;
}
.profile-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 28px;
}
.logo-parent {
    position: absolute;
    top: 64px;
    left: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 60px;
}
.frame-item {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #969696;
    width: 1512px;
    height: 1px;
}
.rectangle-container {
    position: absolute;
    top: 130px;
    left: 0px;
    width: 1512px;
    height: 1px;
}
.group-item {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 50%;
    background-color: #364f2a;
    width: 17.9px;
    height: 17.9px;
}
.div22 {
    position: absolute;
    top: 4px;
    left: 3px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12.8px;
    height: 11.5px;
}
.ellipse-parent {
    position: absolute;
    top: 64px;
    left: 1470px;
    width: 17.9px;
    height: 17.9px;
    font-size: 10.5px;
    color: #fff;
}
.frame-parent2 {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #fff;
    width: 1512px;
    height: 131px;
    text-align: center;
    font-size: 32px;
    color: #364f2a;
}
.footer-child {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #fff5ed;
    width: 1512px;
    height: 742px;
}
.bg-9-1 {
    position: absolute;
    top: 448px;
    left: 0px;
    width: 1512px;
    height: 294px;
    overflow: hidden;
    object-fit: cover;
    opacity: 0.8;
}
.orgmart1 {
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: 600;
    display: inline-block;
    width: 204px;
    height: 66px;
}
.orgmart-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 204px;
    height: 66px;
}
.logo-item {
    position: absolute;
    top: 18.75px;
    left: 204px;
    width: 37.5px;
    height: 37.5px;
    object-fit: cover;
}
.logo1 {
    position: absolute;
    top: 32px;
    left: 44px;
    border: 1.5px solid rgba(255, 255, 255, 0);
    box-sizing: border-box;
    width: 242px;
    height: 75px;
    text-align: center;
    font-size: 48px;
    color: #364f2a;
}
.quick-links {
    position: relative;
    font-size: 20px;
}
.quick-links-parent {
    position: absolute;
    top: 127px;
    left: 286px;
    width: 140px;
    height: 203px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}
.why-orgmart {
    align-self: stretch;
    position: relative;
    display: flex;
    align-items: center;
    height: 41px;
    flex-shrink: 0;
}
.at-orgmart-we {
    margin: 0;
}
.at-orgmart-we-container {
    align-self: stretch;
    position: relative;
    font-size: 16px;
}
.why-orgmart-parent {
    position: absolute;
    top: 127px;
    left: 1008px;
    width: 308px;
    height: 208px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    font-size: 20px;
}
.helloorgmartin {
    align-self: stretch;
    position: relative;
}
.instagram-facebook {
    position: absolute;
    top: 0px;
    left: 0px;
    white-space: pre-wrap;
    display: flex;
    align-items: center;
    width: 476px;
}
.instagram-icon {
    position: absolute;
    top: 1px;
    left: 2px;
    width: 23px;
    height: 23px;
    overflow: hidden;
}
.facebook-icon {
    position: absolute;
    top: 1px;
    left: 128px;
    width: 23px;
    height: 23px;
    overflow: hidden;
}
.x-twitter-icon {
    position: absolute;
    top: 1px;
    left: 247px;
    width: 23px;
    height: 23px;
    overflow: hidden;
}
.linkedin-icon {
    position: absolute;
    top: 1px;
    left: 341px;
    width: 23px;
    height: 23px;
    overflow: hidden;
}
.instagram-facebook-twitter-parent {
    width: 476px;
    position: relative;
    height: 24px;
}
.get-in-touch-parent {
    position: absolute;
    top: 127px;
    left: 508px;
    width: 434px;
    height: 208px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}
.orgmart-all-rights-container {
    position: absolute;
    top: 396px;
    left: 526px;
    font-weight: 600;
    text-align: center;
    display: flex;
    align-items: center;
    width: 460px;
    height: 63px;
}
.footer {
    position: absolute;
    top: 1685px;
    left: 0px;
    width: 1512px;
    height: 742px;
    font-size: 16px;
}
.cart {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 2427px;
    overflow-y: auto;
    text-align: left;
    font-size: 24px;
    color: #000;
    font-family: Poppins;
}

